<header class="header">
  <div class="container">
    <h1 class="header__title">TODO list</h1>
    <span class="header__subtitle">Do it now.</span>
  </div>
</header>


<div class="container">
  <div class="task">
    <div class="text-field">
      <label class="text-field__label" for="text">Введите текст задачи</label>
      <input class="text-field__input" type="text" name="text" id="text"  [(ngModel)]="inputText" placeholder="">
    </div>
    <mat-form-field>
      <input matInput placeholder="Дата завершения" [matDatepicker]="datepicker" [(ngModel)]="endDateValue">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <div class="shine-button" (click)="addNewTask()">Добавить</div>
  </div>
  <div class="table">
    <div class="table__header">
      <div class="table__header-elem">
        #
      </div>
      <div class="table__header-elem">
        Описание задачи
      </div>
      <div class="table__header-elem">
        Дата начала
      </div>
      <div class="table__header-elem">
       Дата окончания
      </div>
      <div class="table__header-elem">
        Статус задачи
      </div>
      <div class="table__header-elem">

      </div>
      <div class="table__header-elem">

      </div>
    </div>
    <hr>
    <div class="table__content" *ngFor="let item of data; let idx = index">
      <div class="table__content-elem" >
        {{idx + 1}}
      </div>
      <div class="table__content-elem" >
        {{item.taskName}}
      </div>
      <div class="table__content-elem" >
        {{item.startData | date:'mediumDate'}}
      </div>
      <div class="table__content-elem" >
        {{item.endData | date:'mediumDate'}}
      </div>
      <div class="table__content-elem" [ngClass]='item.status'>
        {{item.status | statusPipe}}
      </div>
      <div class="table__content-elem dropdown">
        <div class="shine-button">Обновить</div>
        <ul class="dropdown-content">
          <li class="dropdown__container-btn" (click)="editTaskStatus(item.id, 'inProgress')">В процессе</li>
          <li class="dropdown__container-btn" (click)="editTaskStatus(item.id, 'fail')">Не выполнено</li>
          <li class="dropdown__container-btn" (click)="editTaskStatus(item.id, 'success')">Выполнено</li>
        </ul>

      </div>
      <div class="table__content-elem" >
        <div class="shine-button" (click)="removeTask(item.id)">Удалить</div>
      </div>

    </div>
  </div>
</div>
