<header class="header">
  <div class="container">
    <h1 class="header__title">TODO list</h1>
    <span class="header__subtitle">Do it now.</span>
  </div>
</header>


<div class="container">
  <div class="task">
    <input type="text" [(ngModel)]="inputText">
    <button (click)="addNewTask()">Добавить новую задачу</button>
  </div>
  <div class="table">
    <div class="table__header">
      <div class="table__header-elem">
        #
      </div>
      <div class="table__header-elem">
        Task Name
      </div>
      <div class="table__header-elem">
        End date
      </div>
      <div class="table__header-elem">
        Status
      </div>
      <div class="table__header-elem">
        Edit
      </div>
      <div class="table__header-elem">
        Remove
      </div>
    </div>
    <hr>
    <div class="table__content" *ngFor="let item of data; let idx = index">
      <div class="table__content-elem" >
        {{idx + 1}}
      </div>
      <div class="table__content-elem" >
        {{item.taskName}}
      </div>
      <div class="table__content-elem" >
        {{item.endData}}
      </div>
      <div class="table__content-elem" [ngClass]='item.status'>
        {{item.status | statusPipe}}
      </div>
      <div class="table__content-elem dropdown">
        <div class="dropbtn">EditStatusBTN</div>
        <ul class="dropdown-content">
          <li class="dropdown__container-btn" (click)="editTaskStatus(item.id, 'inProgress')">In progress</li>
          <li class="dropdown__container-btn" (click)="editTaskStatus(item.id, 'fail')">Failed</li>
          <li class="dropdown__container-btn" (click)="editTaskStatus(item.id, 'success')">Success</li>
        </ul>

      </div>
      <div class="table__content-elem" >
        <button (click)="removeTask(item.id)">RemoveBTN</button>
      </div>

    </div>
  </div>
</div>
